<div class="large">
  <div class="container headline">
    <%= image_tag('winters_in_guatamala_1960.jpg', class: 'img-rounded pull-left img-responsive', alt: 'Ralph D. Winter in Guatamala (1960)') %>
    <h1>The Ralph D. Winter Research Center</h1>
    <p>
      The Ralph D. Winter Research Center is focused on the archival holdings of Ralph D. Winter and Donald McGavran, but also hosts consultations on important current issues in missiology.
    </p>
    <p>
      <%= link_to 'Learn more »', page_path('rdwrc'), class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>

<hr/>

<div class="large">
  <div class="container">
    <%= image_tag('ralph-winter-portrait.jpg', class: 'img-rounded pull-right img-responsive', alt: 'Ralph D. Winter portrait') %>
    <%= link_to image_tag('lausanne_1974/lausanne_1974_wordle_medium.png', class: 'img-rounded pull-right img-responsive', alt: 'Lausanne 1974'), page_path('lausanne_1974/lausanne_1974') %>
    <div class="details">
      <h1>Ralph D. Winter archives</h1>
      <p class="lead">
        Ralph Dana Winter<br/>
        <span class="text-muted"><small><em>December 8, 1924 - May 20, 2009</em></small></span>
      </p>
      <blockquote>
        <em>
          I am willing to fail. Risks are not to be evaluated in terms of probability of success, but in terms of the value of the goal.
        </em>
      </blockquote>
      <p>
        The Ralph D. Winter archives are housed at Latourette Library at William Carey International University in Pasadena, California. The archive is being processed. The first phase of organization has been completed. The second phase of cataloging is in progress and making significant progress.
      </p>
      <p>
        <%= link_to 'Learn more »', page_path('winter'), class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
</div>

<hr/>

<div class="large">
  <div class="container">
    <%= image_tag('donald-mcgavran-portrait.jpg', class: 'img-rounded pull-right img-responsive', alt: 'Donald McGavran portrait') %>
    <div class="details">
      <h1>Donald McGavran archives</h1>
      <p class="lead">
        Donald Anderson McGavran<br/>
        <span class="text-muted"><small><em>December 15, 1897 - July 10, 1990</em></small></span>
      </p>
      <blockquote>
        <em>
          Nothing could be better for missions than a bold strategy of actively supporting reproductive churches.
        </em>
      </blockquote>
      <p>
        The Donald McGavran archives are primarily housed in two locations. <a href="http://www.wheaton.edu/bgc">The Billy Graham Center</a> at Wheaton College in Illinois, which holds papers from his early years. The Latourette Library at William Carey International University in Pasadena, California holds his papers from 1965 until his death in 1990.
      </p>
      <p>
        <%= link_to 'Learn more »', page_path('mcgavran'), class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
</div>
