<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Calendar', calendar_path %></li>
      <li><%= link_to 'Past Events', pastevents_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>

    <% if user_signed_in? %>
      <li class="login-link"><%= link_to 'Profile', edit_user_registration_path %></li>
      <li class="login-link"><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    <% else %>
      <!-- li class="login-link"><%= link_to 'Sign up', new_user_registration_path %></li -->
      <li class="login-link"><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
    </ul>

    <form class="navbar-form navbar-right" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="search all archives">
        <span class="input-group-addon">
          <a href="#"><%= fa_icon "search" %></a>
        </span>
      </div>
    </form>
</div>
