<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="The Ralph D. Winter Research Center">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ralph D. Winter Research Center" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ralph D. Winter Research Center" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render partial: "shared/flash_messages", flash: flash %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="pull-right">&copy; 2013 The Ralph D. Winter Research Center</div>
    </footer>
  </body>
</html>
